<div class="container">
	<nav class='navbar navbar-default' role='navigation'>
		<ul class='nav navbar-nav'>
			<li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
			<li>{{#link-to 'about'}}About{{/link-to}}</li>
		</ul>
	</nav>
	<h1> About This Blog </h1>
	<ul>
		<li><a href="#">Sample Post</li>
	</ul>
</div>