<h1> Get in Touch!  </h1>
<div class="row">
	<div class="col-md-6">
		<ul>
			<li>{{#link-to 'phone'}}Phone{{/link-to}}</li>
			<li>{{#link-to 'email'}}Email{{/link-to}}</li>
		</ul>
		{{#if messageSent}}
			<p>Thank you. Your message has been sent. Your confirmation number is {{confirmationNumber}}.</p>
		{{else}}
			<p>Or, <a href="#" {{action 'sendMessage'}}>click here</> to send a secret message.</p>
		{{/if}}
	</div>
	<div class="col-md-6">
    {{outlet}}
	</div>
</div>

