<h2>New Comment</h2>

<form>
	<div class="form-group">
		<label for="text">Your Comment:</label>
		{{textarea value=text id="text" class="form-control" rows="5"}}
	</div>
	<button class="btn btn-primary" {{action 'save'}}>Save</button>
</form>