<h1> Blog Name </h1>
<ul>
	{{#each}}
	 <li>{{#link-to 'post' this.id}}{{title}}{{/link-to}}</li>
	{{/each}}
</ul>

<button {{action 'sortByTitle'}}>Sort By Title</button>
<p>{{#link-to 'new-post' classNames="btn btn-primary"}}New Post{{/link-to}}</p>
